﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @RenderSection("head", false)
</head>
<body>
    @RenderBody()

    <script src="~/Scripts/Libraries/jQuery/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Libraries/Bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/Libraries/Knockout/knockout-3.3.0.js"></script>
    @RenderSection("scripts", false)
</body>
</html>