﻿@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin";
}

@section head {

    <link href="//code.jquery.com/ui/1.11.4/themes/blitzer/jquery-ui.css" rel="stylesheet" />@* smoothness*@
    <link href="~/Content/ui.jqgrid.css" rel="stylesheet" />

    <style>
        body {
            background-image: url('../../Content/Images/pink_unicorn.jpg');
            background-repeat:repeat;            
        }        
    </style>
}

<h2>Admin</h2>

<!-- ko stopBinding: true -->
<div id="grid">
    <table id="divTrainings"></table>
    <div id="pager"></div>
</div>
<!-- /ko -->


<form class="form-horizontal spacer-20">
    <div class="form-group col-sm-6">
        <label for="Title" class="col-sm-3 control-label">Title</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="Title" placeholder="Title" data-bind="value: training.Title">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="Date" class="col-sm-3 control-label">Date</label>
        <div class="col-sm-9">
            @*<input type="text" class="form-control" id="Date" placeholder="Date">*@
            <input type="text" class="form-control" id="Date" placeholder="Date" data-bind="datepicker: { value: training.Date }">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="Trainer" class="col-sm-3 control-label">Trainer</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="Trainer" placeholder="Trainer" data-bind="value: training.Trainer">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="PublishDate" class="col-sm-3 control-label">Publish Date</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="Date" placeholder="Date" data-bind="datepicker: { value: training.PublishDate }">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="RangeOfTraining" class="col-sm-3 control-label">Range Of Training</label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="7" id="RangeOfTraining" placeholder="Range Of Training" data-bind="value: training.RangeOfTraining"></textarea>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label for="Requirements" class="col-sm-3 control-label">Requirements</label>
        <div class="col-sm-9">
            <textarea class="form-control" rows="7" id="Requirements" placeholder="Requirements" data-bind="value: training.Requirements"></textarea>
        </div>
    </div>
    <div class="form-group col-sm-6">
        <div class="col-sm-12">
            <button type="button" class="btn btn-default" data-bind="click: add, visible: isAddMode">Add</button>
            <button type="button" class="btn btn-default" data-bind="click: update, visible: !isAddMode()">Update</button>
        </div>
    </div>
</form>

@section scripts {

    <script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
    <script src="~/Scripts/free-jqGrid/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/Libraries/Knockout/knockout-3.3.0.js"></script>
    <script src="~/Scripts/Libraries/Knockout/knockout-jqueryui.min.js"></script>
    <script src="~/Scripts/App/Dto/TrainingDto.js"></script>
    <script src="~/Scripts/App/admin.js"></script>

}