﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Open Sans", sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.spacer-5 {
    margin-top: 5px;
}

.spacer-10 {
    margin-top: 10px;
}

.spacer-20 {
    margin-top: 20px;
}

.spacer-30 {
    margin-top: 30px;
}

.spacer-40 {
    margin-top: 40px;
}

.spacer-50 {
    margin-top: 50px;
}

input.error, div.error {
    border-color: red !important;
    border-style: solid !important;
    border-width: 1px !important;
    box-shadow: 0px 0px 2px red !important;
    /*Add webkit box shadows for other browsers*/
}