﻿@{
    ViewBag.Title = "Index";
}

@section head {

    <!-- PROBLEM IS WITH BOOTSTRAP.CSS. This template requires 3.0 -->
    <link href="~/Content/themes/Munter/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/Munter/fancybox/jquery.fancybox-v=2.1.5.css" rel="stylesheet" />
    <link href="~/Content/themes/Munter/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/themes/Munter/css/style.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="prefetch" href="~/Content/themes/Munter/images/zoom.png" />

    @*<link href="~/Content/flickerplate/flickerplate.css" rel="stylesheet" />*@

    <link href="~/Content/NiftyModalWindowEffects/css/default.css" rel="stylesheet" />
    <link href="~/Content/NiftyModalWindowEffects/css/component.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/Content/FullscreenSlitSlider/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/FullscreenSlitSlider/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/FullscreenSlitSlider/css/custom.css" />
    <script type="text/javascript" src="~/Content/FullscreenSlitSlider/js/modernizr.custom.79639.js"></script>
    <noscript>
        <link rel="stylesheet" type="text/css" href="~/Content/FullscreenSlitSlider/css/styleNoJS.css" />
    </noscript>

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/white-button.css" rel="stylesheet" />

    <style>
        input {
            max-width: 280px;
        }
    </style>

}

<div class="navbar navbar-fixed-top" data-activeslide="1">
    <a href="#slide-1" class="pull-left"><img src="~/Content/Images/logo.png" width="72" height="40" style="margin-top: 3px;" /></a>
    <div class="container">

        <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>


        <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav row">
                <li data-slide="1" class="col-12 col-sm-2"><a id="menu-link-1" href="#slide-1" title="Next Section"><span class="fa fa-home"></span> <span class="text">HOME</span></a></li>
                <li data-slide="2" class="col-12 col-sm-2"><a id="menu-link-2" href="#slide-2" title="Next Section"><span class="fa fa-mortar-board"></span> <span class="text">SZKOLENIA</span></a></li>
                <li data-slide="4" class="col-12 col-sm-2"><a id="menu-link-4" href="#slide-4" title="Next Section"><span class="fa fa-calendar-o"></span> <span class="text">HARMONOGRAM</span></a></li>
                @*<li data-slide="3" class="col-12 col-sm-2"><a id="menu-link-3" href="#slide-3" title="Next Section"><span class="icon icon-briefcase"></span> <span class="text">PORTFOLIO</span></a></li>*@
                <li data-slide="5" class="col-12 col-sm-2"><a id="menu-link-5" href="#slide-5" title="Next Section"><span class="fa fa-envelope"></span> <span class="text">KONTAKT</span></a></li>
                <li class="col-12 col-sm-2"><a href="http://sii.pl/" title="Next Section"><span class="fa fa-plug"></span> <span class="text">ORGANIZATOR</span></a></li>
                <li class="col-12 col-sm-2"><a href="http://kariera.sii.pl/" title="Next Section"><span class="fa fa-briefcase"></span> <span class="text">KARIERA W IT</span></a></li>
                @*<li class="col-12 col-sm-2"><a href="javascript:void(0);" class="md-trigger md-setperspective" data-modal="modal-1"><span class="icon icon-briefcase"></span> <span class="text">POPUP</span></a></li>*@
            </ul>
            <div class="row">
                <div class="col-sm-2 active-menu"></div>
            </div>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</div><!-- /.navbar -->
<!-- === Arrows === -->
<!--
<div id="arrows">
    <div id="arrow-up" class="disabled"></div>
    <div id="arrow-down"></div>
    @*<div id="arrow-left" class="disabled visible-lg"></div>
        <div id="arrow-right" class="disabled visible-lg"></div>*@
</div>
-->
<!-- /.arrows -->
<!-- === MAIN Background
    === -->
<div class="slide story" id="slide-1" data-slide="1">
    <div class="container">
        <div id="home-row-1" class="row clearfix">
            <div class="col-12">
                <h1 class="font-semibold">Rozwijaj się z pasjonatami IT!</h1>
            </div><!-- /col-12 -->
        </div><!-- /row -->
        @*<div id="home-row-2" class="row clearfix">
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="4"><img src="~/Content/themes/Munter/images/s02.png"></div><span>PROFESSIONAL</span></div>
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="3"><img src="~/Content/themes/Munter/images/s01.png"></div><span>FRIENDLY</span></div>
                <div class="col-12 col-sm-4"><div class="home-hover navigation-slide" data-slide="5"><img src="~/Content/themes/Munter/images/s03.png"></div><span>SUITABLE</span></div>
            </div>*@
    </div><!-- /container -->
</div><!-- /slide1 -->
<!-- === Slide 2 === -->
<div class="slide story" id="slide-2" data-slide="2">
    <div class="container">
        <div class="row subtitle-row">
            @*<div class="row title-row">*@
        <div class="col-12 font-thin">
            <span class="font-semibold">Sii Summit</span> to program darmowych szkoleń i warsztatów z dziedziny IT.
            Spotkania przeznaczone są dla osób posiadających już określony zakres wiedzy z obszaru, z którego prowadzone są warsztaty.
            Prowadzący szkolenia to eksperci, praktycy, na co dzień pracujący w firmie Sii.
            @*<span class="font-semibold">Lorem Ipsum</span>*@
        </div>
    </div><!-- /row -->
    <div class="row line-row">
        <div class="hr">&nbsp;</div>
    </div><!-- /row -->
    <div class="row subtitle-row">
        <div class="col-12 font-thin">
            Liczba miejsc na  spotkaniach jest ograniczona.
            Na warsztaty dostaną się osoby, których doświadczenie będzie najbardziej dopasowane do tematyki i przebiegu spotkania.
        </div>
    </div><!-- /row -->
    <div class="row content-row">
            <div class="col-12 col-lg-4 col-sm-6">
                <p><i class="fa fa-thumbs-o-up fa-5x"></i></p>                
                <h2 class="font-thin">Szkolenia odbywające się w ramach programu są darmowe</h2>
            </div><!-- /col12 -->
            <div class="col-12 col-lg-4 col-sm-6">
                <p><i class="fa fa-automobile fa-5x"></i></p>
                <h2 class="font-thin">Spotkania odbywają w formie warsztatów<span class="font-semibold"></span></h2>                
            </div><!-- /col12 -->
            <div class="col-12 col-lg-4 col-sm-6">
                <p><i class="fa fa-lightbulb-o fa-5x"></i></p>
                <h2 class="font-thin">Uczestnicy muszą posiadać wiedzę i doświadczenie określone w opisie spotkania</h2>
            </div><!-- /col12 -->            
        </div><!-- /row -->
</div><!-- /container -->
</div><!-- /slide2 -->
<!-- === Slide 4 - Process === -->
<div class="slide story" id="slide-4" data-slide="4" style="padding: 0;">
    <div class="slit-slider demo-2">
        <div id="slider" class="sl-slider-wrapper">
            <div class="sl-slider" data-bind="foreach: carousel.items">

                <div class="sl-slide" data-bind="attr: { 'data-orientation': orientation, 'data-slice1-rotation': slice1_rotation, 'data-slice2-rotation': slice2_rotation, 'data-slice1-scale': slice1_scale, 'data-slice2-scale': slice2_scale }">
                    <div class="sl-slide-inner">
                        <div data-bind="attr: { 'class': _class }"></div>
                        <h2 data-bind="text: Title"></h2>
                        <blockquote>
                            <p><span class="font-semibold">Zakres szkolenia:</span>&nbsp;<span data-bind="text: RangeOfTraining"></span></p>
                            <p><span class="font-semibold">Data:</span>&nbsp;<span data-bind="text: Date"></span></p>
                            <p><span class="font-semibold">Wymagania:</span>&nbsp;<span data-bind="text: Requirements"></span></p>
                            <p><span class="font-semibold">Prowadzący:</span>&nbsp;<span data-bind="text: Trainer"></span></p>
                        </blockquote>
                        <div class="spacer-20"></div>
                        <div class="inner">
                            <button class="btn btn-primary md-trigger md-setperspective bottom" data-bind="click: $parent.startSigningUp" data-modal="modal-1">Sign Up</button>
                        </div>
                    </div>
                </div>

            </div><!-- /sl-slider -->
            <nav id="nav-dots" class="nav-dots" data-bind="foreach: carousel.items">
                <!-- ko if: $index() == 0 -->
                <span class="nav-dot-current"></span>
                <!-- /ko -->
                <!-- ko if: $index() != 0 -->
                <span></span>
                <!-- /ko -->
            </nav>
        </div><!-- /slider-wrapper -->
    </div>
</div><!-- /slide4 -->
<!-- === Slide 5 === -->
<div class="slide story" id="slide-5" data-slide="5">
    <div class="container">
        <div class="row title-row">
            <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>
        </div><!-- /row -->
        <div class="row line-row">
            <div class="hr">&nbsp;</div>
        </div><!-- /row -->
        <div class="row subtitle-row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-10 font-light">You can find us literally anywhere, just push a button and we’re there</div>
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
        <div id="contact-row-4" class="row">
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-phone"></i></a></p>
                <span class="hover-text font-light ">+71 75 82 290</span>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-envelope"></i></a></p>
                <span class="hover-text font-light ">SiiSummit@pl.sii.eu</span>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-home"></i></a></p>
                <span class="hover-text font-light ">Sky Tower<br />ul. Gwiaździsta 66<br />53-413 Wrocław</span>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-facebook"></i></a></p>
                <span class="hover-text font-light ">facebook.com/Sii.Polska</span>
            </div><!-- /col12 -->
            <div class="col-12 col-sm-2 with-hover-text">
                <p><a target="_blank" href="#"><i class="icon icon-twitter"></i></a></p>
                <span class="hover-text font-light ">@@GroupeSII</span>
            </div><!-- /col12 -->
            <div class="col-sm-1 hidden-sm">&nbsp;</div>
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /slide5 -->

<div class="md-modal md-effect-19" id="modal-1">
    <div class="md-content">
        <h3 data-bind="text: signUpHeader"></h3>
        <div>
            <form class="form-inline">
                <div class="form-group">
                    <label for="Email" style="width: 150px;">Email:</label>
                    <input type="text" class="form-control" id="Email" placeholder="Email" data-bind="value: user.Email">
                </div>
                <div class="form-group">
                    <label for="FirstName" style="width: 150px;">First Name:</label>
                    <input type="text" class="form-control" id="FirstName" placeholder="First Name" data-bind="value: user.FirstName">
                </div>
                <div class="form-group">
                    <label for="LastName" style="width: 150px;">Last Name:</label>
                    <input type="text" class="form-control" id="LastName" placeholder="Last Name" data-bind="value: user.LastName">
                </div>
                <div class="form-group">
                    <label for="Phone" style="width: 150px;">Phone:</label>
                    <input type="text" class="form-control" id="Phone" placeholder="Phone" data-bind="value: user.Phone">
                </div>
                <div class="form-group">
                    <label for="Position" style="width: 150px;">Position at work:</label>
                    <input type="text" class="form-control" id="Position" placeholder="Position at work" data-bind="value: user.Position">
                </div>
                <div class="form-group">
                    <label for="Firm" style="width: 150px;">Workplace:</label>
                    <input type="text" class="form-control" id="Firm" placeholder="Workplace" data-bind="value: user.Firm">
                </div>
                <div class="form-group">
                    <div>
                        <div class="checkbox" data-bind="css: { error : !agreedToTerms.isValid() && showErrors() }">
                            <label>
                                <input type="checkbox" data-bind="checked: agreedToTerms" /> Remember me
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn md-close">Cancel</button>
            <button class="btn" data-bind="click: signUp, visible: canSign">Sign Up</button>
            <span data-bind="visible: !canSign()" class="alert alert-warning" role="alert">User with this email is already signed to this training.</span>
        </div>
    </div>
</div>

<div class="md-overlay"></div><!-- the overlay element -->
@section scripts {

    <script src="~/Scripts/Libraries/Knockout/knockout.validation.min.js"></script>

    <script src="~/Content/themes/Munter/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/themes/Munter/js/script.js"></script>

    <script type="text/javascript" src="~/Content/FullscreenSlitSlider/js/jquery.ba-cond.min.js"></script>
    <script type="text/javascript" src="~/Content/FullscreenSlitSlider/js/jquery.slitslider.js"></script>
    <script type="text/javascript" src="~/Content/FullscreenSlitSlider/js/sliderApp.js"></script>

    <script>
        var OpenTrainingsCMS = OpenTrainingsCMS || {};
        OpenTrainingsCMS.trainings = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Trainings));
    </script>

    <script src="~/Scripts/App/Dto/TrainingDto.js"></script>
    <script src="~/Scripts/App/Dto/UserDto.js"></script>
    <script src="~/Scripts/App/app.js"></script>

    <!-- Placed after app.js ( requires list of trainings generated by app ) -->
    <script src="~/Content/NiftyModalWindowEffects/js/classie.js"></script>
    <script src="~/Content/NiftyModalWindowEffects/js/modalEffects.js"></script>

    <script>
        // this is important for IEs
        var polyfilter_scriptpath = '/Content/NiftyModalWindowEffects/js/';
    </script>
    <script src="~/Content/NiftyModalWindowEffects/js/cssParser.js"></script>
    <script src="~/Content/NiftyModalWindowEffects/js/css-filters-polyfill.js"></script>

}
